<?xml version="1.0" ?>
<robot name="my_specimen">
  <material name="gold">
    <color rgba="1.0 0.85 0.0 1.0"/>
  </material>
  <material name="silver">
    <color rgba="0.75 0.75 0.75 1.0"/>
  </material>
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="specimen.stl"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="specimen.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>
</robot>
